.margin-bottom-10 {
    margin-bottom: 10px;
}

.textAlignLeft {
    text-align: left !important;
}

.textAlignCenter {
    text-align: center !important;
}

.textAlignRight {
    text-align: right !important;
}

.pointer {
    cursor: pointer;
}

.ellipsis {
    text-overflow: ellipsis;
}

.bold {
    font-weight: bold;
}

/** http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
.noTextSelect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.textShadow {
    text-shadow: 2px 2px #000;
}

.clear {
    clear: both;
}

.relative {
    position: relative;
}

.progress-bar {
    -webkit-transition-duration: 0s !important;
    -moz-transition-duration: 0s !important;
    -o-transition-duration: 0s !important;
    transition-duration: 0s !important;
}

/** Root */
.Root {
    font-family: "Courier New", Courier, monospace;
}

.Root .fa {
    margin: 0 5px;
    color: #B8B8B8;
}

.Root .fa.enabled {
    cursor: pointer;
    color: white;
}

.Root .fa.enabled:hover {
    color: #528BC5;
}


.RootNavContainer {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.PlayListContainer {
    margin-top: 150px;
}

/** RootNav */
.RootNav {
    background: black;
    color: white;
}

/** TopMenu */
.TopMenu a {
    color: white;
    cursor: pointer;
}

.TopMenu a:hover {
    color: white;
}

.TopMenu span {
    margin: 0 10px;
    line-height: 30px;
    height: 30px;
    background: grey;
    padding: 5px;
}

/** Player */
.Player {
    color: white;
}

.Player .upperPlayer {
    margin-bottom: 10px;
}

.Player .songInfo {
    margin: 0 10px;
}

.Player .progress {
    border-radius: 0;
}

.Player .progress-bar {
    background: #528BC5;
}

.Player .absoluteRight {
    position: absolute;
    top: 0;
    right: 15px;
    height: 100%;
}

/** TrackBar */

.TrackBar .progress-bar {
    text-align: right;
}

/** Volume Bar */

.VolumeBar .fa {
    margin-top: 4px;
}

.VolumeBar .progress-bar {
    text-align: left;
}

/** Root Body */
.PlayList .fa.enabled {
    cursor: pointer;
    color: #528BC5;
}

.PlayList .fa.enabled:hover {
    color: #000066;
}

.PlayList .table-striped>tbody>tr.nowPlaying.SongEntry {
   background-color: #FFFF99;
}
